*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.incuMainhead{
    text-align: left;
    color: dodgerblue;
    font-weight: bold;
}

.incuPara{
    text-align: left;
    width: 70%;
    word-spacing: 1px;
    margin-top: 30px;
    color: gray;
    font-size:18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img1{
    margin-left: 10%;
}

.img2{
    /* background-color: rgba(255, 0, 0, 0.3); */
    background-image: url("../../images/incu2.jpg");
    /* margin-left: 10%; */
    width: 70%;
    height: 380px;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

.iconHover:hover{
    text-decoration: none !important;
    transform: scale(1.1,1.1);
    background-color: white;
    box-shadow: 0 10px 15px lightgrey;
    border: 2px solid white;
}