.donateBtn{
    padding: 20px;
    font-size: 1.2em;
    position: fixed;
    left: 0;
    top: 20%;
    background-color: rgb(240, 240, 240);
    border-radius: 0 35px 35px 0;
    margin-left: -80px;
    cursor: pointer;
    z-index: 1;
    border: 1px solid dodgerblue;
}
.donateBtn Link{
    color: white!important;
    text-decoration: none;
}
.donateBtn:hover{
    margin-left: 0;
}