.small{
    /* padding: 15px; */
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    /* color: white; */
    /* background-image: linear-gradient(to bottom right, #3375cc, #58a6f0); */
    transition: .5s;
    border: 1.5px solid dodgerblue;
    box-shadow: 0 10px 15px lightgrey;
}
.small:hover{
    transform: scale(1.1,1.1);
    background-color: white;
    box-shadow: 0 13px 25px lightgrey;
    border: 2px solid white;
}
