.small{
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s;
    border: 1.5px solid dodgerblue;
    box-shadow: 0 10px 15px lightgrey;
}
.small:hover{
    transform: scale(1.1,1.1);
    background-color: white;
    box-shadow: 0 13px 25px lightgrey;
    border: 2px solid white;
}
.search{
    padding: 13px 13px 13px 50px;
    outline: none;
    background-image: url('../../images/search.png');
    background-size: 50px;
    border-radius: 35px;
    background-repeat: no-repeat;
    border-width: 10px;
    width: 40px;
    border: none;
    cursor: pointer;
}
.search:focus{
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    border: 2px solid dodgerblue;
    width: 100%;
    cursor: text;
}