.roCounter{
    background-color: dodgerblue;
    border-radius:0 0 15px 15px;
    color: white;
    box-shadow: 0 10px 12px lightgrey;
}
.counterHeading{
    padding: 10px;
    border: 2px solid dodgerblue;
    color: dodgerblue;
}
.locationMarker{
    color: dodgerblue;
    font-size: 1.5em;
}

.costTable{
    width: 100%;
    text-align: left;
}
.costTable thead{
    background-color: dodgerblue;
    text-align: center;
}
.costTable td{
    border: 1px solid white;
    color: white;
}
.costTable th{
    border: 1px solid white;
    color: white;
}
.collaborationPartner{
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 15px lightgrey;
    background-color: rgb(250, 250, 250);
  }