.tableHead{
    color: white;
    background-color: dodgerblue;
}
th{
    padding: 7px;
}
td{
    padding: 7px;
}
.tableList{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.tableList:hover{
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
}
tfoot{
    font-weight: bold;
}
.round{
    background-color: dodgerblue;
    color: white;
    width: 200px;
    height: 200px;
    padding: 70px 0;
    border-radius: 100px;
    box-shadow: 0 10px 12px gray;
    margin: auto;
}
.Name{
    font-size: 2em;
    color: dodgerblue;
    padding: 10px;
    border: 2px solid dodgerblue;
    margin-top: 20px;
}
.full{
    height: 100vh;
    background-color: rgb(30, 30, 30);
}
.largeHeading{
    padding: 20px;
    font-size: 2em;
}
.largeCounter{
    display: block;
    font-size: 2em;
    color: dodgerblue;
}
.roundImage{
    border-radius: 10px;
    box-shadow: -12px 12px 15px grey;
}