.tableHead {
  color: white;
  background-color: #1371b8;
}
th {
  padding: 7px;
}
td {
  padding: 7px;
}
.tableList {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.tableList:hover {
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
}
tfoot {
  font-weight: bold;
}

.Name {
  font-size: 2em;
  color: #1371b8;
  padding: 10px;
  border: 2px solid #1371b8;
  margin-top: 20px;
  text-align: center;
}
.full {
  /* height: 100vh; */
  background-color: #f5f8ff;
}
.largeHeading {
  padding: 20px;
  font-size: 2em;
  text-align: center;
  color: black;
}
.largeCounter {
  display: block;
  font-size: 2em;
  color: #0066b3;
}
.roundImage {
  border-radius: 10px;
  box-shadow: -12px 12px 15px grey;
}
.showTable {
  border-spacing: 15px 15px;
  border-collapse: separate;
}
.showTable td {
  padding: 15px;
  background-color: #096bb5;
  color: white;
  border-spacing: 5px 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
