.mainSlider{
    z-index:1;
    /* background-color: gray !important */
  }

  .donateBtn{
    font-size:18px !important; z-index:2 !important;top:600px !important;left:620px;position:absolute !important;height:63px !important;width:200px !important;background-color:transparent !important;
    border:4px solid white !important;color:white !important
  }
  .donateBtn:hover{
    background-color: white !important;
    color:black !important
  }
  .donateBtn3{
    font-size:18px !important; z-index:2 !important;top:600px !important;right:620px;position:absolute !important;height:63px !important;width:200px !important;background-color:white !important;
    border:4px solid white !important;color:black !important
  }
  .donateBtn3:hover{
    background-color: transparent !important;
    color:black !important
  }
  .courseCard{
    display: inline-block;
    /* border-top: 4px solid black; */
    background-color: white;
    box-shadow: 3px 3px 20px lightgrey;
    margin-top: 10px;
    height:'80%' !important;
  }
  .addBorder{
    text-align: left;
    font-size: 20px;
  font-weight: bold;
  color: #d43c18;
  margin-left: 10px;
  }
  .addBorderUsa{
  text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #d43c18;
    margin-left: 10px;
    }
  
    .addBorderUK{
      text-align: left;
        font-size: 20px;
      font-weight: bold;
      color: #d43c18;
      margin-left: 10px;
      }