.Heading {
  padding: 8px;
  color: #007bb1;
  margin-bottom: 20px;
  text-align: left;
}
.news {
  border-left: 3px solid #1371b8;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.mainCoverNews {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.homeNewsDetail {
  height: 40px;
  font-size: 0.9em;
}
.news Link {
  color: #1371b8;
}
.inp {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 2px solid lightgrey;
  outline: none;
}
.inp:focus {
  border: 2px solid #0066b3;
}
.labl {
  display: block;
  text-align: left;
  font-weight: bold;
}
.location {
  font-weight: bold;
}
.location:hover {
  color: #0066b3;
  cursor: pointer;
}
.donate {
  padding: 10px 20px;
  border: none;
  background-color: #0066b3;
  color: white;
  border-radius: 25px;
}
.donate:hover {
  background-color: rgb(240, 240, 240);
  color: #0066b3;
  box-shadow: 0 8px 10px lightgray;
  text-decoration: none;
}

.carlStl span {
  color: #1371b8;
  font-size: 1.5em;
}
.carlStl:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: rgba(0, 0, 0, .3); */
  padding: 10px;
}
.branchCard {
  height: 100%;
  cursor: pointer;
}
.branchCard:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.slideBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 1.5em;
  border: none;
  text-align: center;
  padding: 13px;
}
.slideBtn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.slideBtn:focus {
  outline: none;
}
.prevSlide {
  left: 10px;
}
.nxtSlide {
  right: 10px;
}
@media only screen and (max-width: 600px) {
  .slideBtn {
    width: 30px;
    height: 30px;
    padding: 8px;
    font-size: 1em;
  }
}
