.quantity {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid grey;
  outline: none;
}
.incrementbtn {
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
  background-color: #1371b8;
  border: none;
  border-radius: 25px;
  color: white;
  width: 50px;
  height: 50px;
  box-shadow: 0 10px 10px lightgrey;
}
.incrementbtn:focus {
  outline: none;
}
.bankDetailsCard {
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 15px lightgrey;
  background-color: white;
  height: 100%;
}
.grad {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(215, 215, 215, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}
.bankDetails {
  width: 100%;
  text-align: left;
}

.selectBtn {
  cursor: pointer;
  padding: 10px;
  border: 1.5px solid #1371b8;
  background-color: #1371b8;
  box-shadow: 0 8px 10px lightgrey;
  color: white;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s ease;
}
.selectBtn:hover {
  border: 1.5px solid #1371b8;
  box-shadow: 0 12px 15px lightgrey;
  background-color: rgb(250, 250, 250);
  color: #1371b8;
}
.bankTable th {
  color: black;
}
.bankTable td {
  color: #1371b8;
}
.donorLink {
  font-size: 3em;
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
}
.donorLink:hover {
  background-color: white;
  color: #1371b8;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}
.donorLink i {
  margin: 10px;
}

.categorybtn {
  padding: 10px;
  border-radius: 25px;
  border: none;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.categorybtn:hover {
  background-color: white;
  color: #0066b3;
  box-shadow: 0 0 10px rgba(0, 102, 179, 0.5);
}
.donationCategory {
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  margin: 5px 0;
}
.donationCategory:hover .categorybtn {
  color: white;
  background-color: #0066b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
