
.coursesBlog {
  color: #d43c18;
  font-size: 1.5em;
  font-weight: bold;
}
.HeadingSmit {
  color: dodgerblue;
  background-color: white;
}
.messageBoxTxt {
  /* background-color: rgb(240, 240, 240) ; */
  /* border-color: #e1e1e1; */
  border: 1px solid #c0c0c0;
  margin-top: 30px;
  margin-left: -80px;
}

.recentpOst {
  /* borderTop:1,borderTopColor:'gray',borderTopWidth:2 */
  border: 1px solid gainsboro;
  margin-bottom: 5px;
}

.courseDateInfo {
  margin-left: 40px;
  color: dodgerblue;
}

.courseCard {
  display: inline-block;
  border-top: 4px solid black;
  background-color: white;
  box-shadow: 3px 3px 20px lightgrey;
  margin-top: 10px;
  border-radius: 0 0 8px 8px;
  background-color:#f5f8ff;
}
.courseCard:hover img {
  transform: scale(1.1, 1.1);
  border-radius: 8px;
  box-shadow: 0 0 12px lightgrey;
}
.facultyImg{
  width: 150px;
  border-radius: 5px;
  margin-bottom: -30px;
  margin-left: 20px;
  display: inline-block;
}
.facultyName{
  display: inline-block;
}
.facultyContent{
  background-color: dodgerblue;
  color: white;
  text-align: justify;
}
.facultyContent p{
  font-size: 1.1em;
}
.smitCounter{
  background-image: url('../../images/achieve.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.achieve{
  border: 3px solid white;
  border-radius: 7px;
}
.achieve:hover{
  border: 3px solid dodgerblue;
}
.collaborationPartner{
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 15px lightgrey;
  background-color: rgb(250, 250, 250);
}
.teacher{
  background-position: center;
  background-size: cover;
  transition: .5s;
  border-radius: 8px;
  overflow: hidden;
}
.teacher div{
  color: transparent;
}
.teacher:hover{
  background-size: 120%;
}
.teacher:hover div{
  background-color: rgba(30, 144, 255, .5);
  color: white;
}