.medicalHeading {
    padding-left: 20px;
    text-align: left;
  }
  .clinicCard {
    background-color: #f5f8ff;
    border-top: 2px solid dodgerblue;
    cursor: pointer;
  }
 
  .DrName {
    color: grey;
    font-style: italic;
  }  