.medicalHeading {
  padding-left: 20px;
  text-align: left;
}
.clinicCard {
  background-color: #f5f8ff;
  border-top: 2px solid dodgerblue;
  cursor: pointer;
}

.DrName {
  color: grey;
  font-style: italic;
}
.sevicesCard {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}
.sevicesCard:hover {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 10px 15px lightgrey;
  color: dodgerblue;
}
.intenForm {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 12px lightgrey;
}
.internInp {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 10px;
  outline: none;
  width: 100%;
}
.internInp:focus{
  border-bottom: 2px solid dodgerblue;
}
.lab{
  display: block;
  text-align: left;
  color: white;
}
.medicalBack{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}