.list {
  list-style: none;
}
.list li {
  padding: 10px;
  border-bottom: 1.5px solid dodgerblue;
  text-align: left;
}
.uploadImg {
  visibility: hidden;
}
.whiteLable {
  color: dodgerblue;
  font-size: 2.5em;
}
.delete {
  background-color: dodgerblue;
  text-align: right;
  padding: 10px;
  color: white;
  display: none;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.delete button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}
.content:hover .delete {
  display: block;
}
