.homeIntroCardDetails {
  text-align: left;
}
.schemeTextHeading {
  font-weight: bolder;
  font-size: 1.6em;
  color: black;
  font-weight: bolder;
}
@media only screen and (max-width: 600px) {
  .homeIntroCardDetails {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
}
