* {
  font-family: "Alata";
  transition: 0.5s;
}
.App {
  text-align: center;
}
.nav-item {
  padding: 8px;
  transition: 0.5s;
  font-size: 1em;
  font-weight: bold;
}
.nav-item:hover a {
  color: #028de5 !important;
}
.social a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 5px;
}
.round-icon {
  width: 50px;
  height: 50px;
  background-color: #d43c18;
  color: white;
  font-size: 1.5em;
  padding: 8px;
  border-radius: 25px;
  margin: auto;
}
.read {
  border: none;
  background-color: lightgrey;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
}
.read:hover {
  background-color: #d43c18;
}

.Heading {
  padding: 8px;
  color: #028de5;
  margin-top: 20px;
  text-align: left;
}

/* .coursesBlog {
  color: #d43c18;
  font-size: 1.5em;
  font-weight: bold;
} */


.date {
  width: 120px;
  /* padding: 10px; */
  display: inline-block;
  /* border-top: 4px solid black; */
  background-color: #f0f0f0;
  box-shadow: -10px 10px 15px lightgrey;
}
.month {
  padding: 10px;
  background-color: dodgerblue;
  color: white;
}
.newsDetail {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  padding: 20px;
}

.headingList {
  border: none !important;
  border-radius: 0px !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  border: 1px solid grey;
  background-color: lightgrey;
}

.pText {
  width: 70%;
  font-size: 1.5em;
  font-weight: bold;
}
.pTextTwo {
  width: 90%;
  font-size: 1em;
  color: black;
}
.back {
  background-image: url("./images/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
/* scrollable css  */
.sticky {
  height: 100vh;
  width: 100vw;
  text-align: left;
  overflow: hidden;
}


.upCour {
  background-image: url("./images/upco.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  /* background-position: center; */
  width: 80%;
  margin-left: 10%;
}

.upCourTwo {
  background-color: rgba(51, 0, 0, 0.7);
}
.ComCourses {
  color: white;
  font-size: 18;
  font-weight: bold;
}

.messagebox {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 100px;
}
.messageBoxTxt {
  background-color: rgb(240, 240, 240);
  border-color: #e1e1e1;
  border: 1px solid #c0c0c0;
  margin-top: 30px;
  margin-left: -80px;
}
.inptTxt {
  background-color: rgb(240, 240, 240);
  border: 1px solid #c0c0c0;
  height: 40px;
  margin-top: 20px;
}

.messageLabl {
  color: black;
  margin-left: 20px;
}
.inptTxtTwo {
  background-color: rgb(240, 240, 240);
  border: 1px solid #c0c0c0;
  height: 40px;
  margin-top: 2px;
}

.messageBtn {
  padding: 12px;
  width: 200px;
  margin: 5px;
  border: none;
  background-color: #d43c18;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 25px;
  box-shadow: 0 8px 10px lightgrey;
}
.determineTxt {
  background-color: white !important;
  color: #d43c18;
}

.bottomStl {
  justify-content: space-between !important;
  text-align: left;
}

.bottomTxt {
  border-bottom: 3px solid #d43c18;
  font-size: 20px;
  width: 120px;
}

.bottomUl {
  list-style-type: none;
}

.bottomDiv {
  margin-left: -150px;
}

.bottomDivTw0 {
  margin-left: 50px;
  margin-right: 0px;
}
.bottomDivThre {
  margin-left: 50px;
}
@media only screen and (max-width: 600px) {
  .bottomDiv {
    margin-left: 0px;
  }
  .bottomDivTw0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .bottomDivThre {
    margin-left: 0px;
  }
}

.li {
  border-bottom: 0.001em solid #c0c0c0;
  border-width: 1px;
  margin-left: -40px;
  font-size: 18px;
  margin-bottom: 5px;
}

.mainSlider {
  z-index: 1;
}
.SliderImage {
}
.countDivWel {
  border: 3px solid #d43c18;
  /* padding:30px; */
  height: 140px;
  width: 140px;
  padding: 20px;
  padding-top: 35px;
  padding-bottom: 40px;
  border-radius: 100%;
  margin-top: 10px;
}






.selectionOne {
  background-image: url("./images/back.jpg") !important;
  background-repeat: no-repeat !important;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.childBox {
  flex: 1 1 25%;
}
.footerList{
  list-style: none;
  padding: 5px;
}
.footerList a{
  color: white;
}
.footerList a:hover{
  color: white;
}