* {
  font-family: "Alata";
  transition: 0.5s;
  scroll-behavior: smooth;
}
.App {
  text-align: center !important;
}
.nav-item {
  padding: 8px;
  transition: 0.5s;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-item:hover a {
  color: #028de5 !important;
}
.social a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 5px;
}
.round-icon {
  width: 50px;
  height: 50px;
  background-color: #d43c18;
  color: white;
  font-size: 1.5em;
  padding: 8px;
  border-radius: 25px;
  margin: auto;
}
.read {
  border: none;
  background-color: lightgrey;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
}
.read:hover {
  background-color: #d43c18;
}

/* .coursesBlog {
  color: #d43c18;
  font-size: 1.5em;
  font-weight: bold;
} */

.date {
  width: 120px;
  /* padding: 10px; */
  display: inline-block;
  /* border-top: 4px solid black; */
  background-color: #f0f0f0;
  box-shadow: -10px 10px 15px lightgrey;
}
.month {
  padding: 10px;
  background-color: dodgerblue;
  color: white;
}

.headingList {
  border: none !important;
  border-radius: 0px !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  border: 1px solid grey;
  background-color: lightgrey;
}

.pText {
  width: 70%;
  font-size: 1.5em;
  font-weight: bold;
}
.pTextTwo {
  width: 90%;
  font-size: 1em;
  color: black;
}
.back {
  /* background-image: url("./images/back.jpg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
/* scrollable css  */
.sticky {
  height: 100vh;
  width: 100vw;
  text-align: left;
  overflow: hidden;
}

.upCour {
  background-image: url("./images/upco.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  /* background-position: center; */
  width: 80%;
  margin-left: 10%;
}

.messagebox {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 100px;
}
.messageBoxTxt {
  background-color: rgb(240, 240, 240);
  border-color: #e1e1e1;
  border: 1px solid #c0c0c0;
  margin-top: 30px;
  margin-left: -80px;
}
.inptTxt {
  background-color: rgb(240, 240, 240);
  border: 1px solid #c0c0c0;
  height: 40px;
  margin-top: 20px;
}

.messageLabl {
  color: black;
  margin-left: 20px;
}
.inptTxtTwo {
  background-color: rgb(240, 240, 240);
  border: 1px solid #c0c0c0;
  height: 40px;
  margin-top: 2px;
}

.li {
  border-bottom: 0.001em solid #c0c0c0;
  border-width: 1px;
  margin-left: -40px;
  font-size: 18px;
  margin-bottom: 5px;
}

.selectionOne {
  background-image: url("./images/back.jpg") !important;
  background-repeat: no-repeat !important;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.childBox {
  flex: 1 1 25%;
}
.footerList {
  list-style: none;
  padding: 5px;
}
.footerList a {
  color: white;
}
.footerList a:hover {
  color: white;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.displayheading {
  color: #0066b3;
  padding: 20px 0;
}
.dob {
  border: none;
  border-bottom: 2px solid #028de5;
  outline: none;
  margin: 3px;
}
.coursePopUp {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
}

.city {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  padding: 50px;
}
.city h2 {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
}
.city:hover h2 {
  background-color: #1371b8;
}
.showtable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0;
}
.showtable td {
  padding: 10px;
  font-size: 1.5em;
  background-color: #1371b8;
  color: white;
  font-weight: normal;
  border-radius: 5px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
  /* margin: 10px; */
}
.video {
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  height: 310px;
}
.backgroundLight {
  background-color: #f5f8ff;
}
.backgroundDark {
  background-color: #0066b3;
}
.color {
  color: #0066b3;
}
.introCard {
  height: 310px;
}

@media only screen and (max-width: 600px) {
  .coursePopUp {
    width: 100%;
  }
  .city {
    padding: 25px 10px !important;
  }
  .introCard {
    height: 100%;
  }
  .video {
    height: 200px;
  }
}
.numberHeading {
  font-family: "Bebas Neue";
}
