.aims {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
  border: 2px solid dodgerblue;
  color: dodgerblue;
  font-size: 1.4em;
  border-radius: 8px;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
}
.topRight {
  border-radius: 20px 0 0 0;
}
.topLeft {
  border-radius: 0 20px 0 0;
}
.bottomRight {
  border-radius: 0 0 0 20px;
}
.bottomLeft {
  border-radius: 0 0 20px 0;
}

.backImg {
  background-image: "../../images/BloodBankBack.jpg";
  background-repeat: no-repeat;
  background-size: cover;
}
.custom-underline {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  font-size: 3em;
  border-bottom: 3px solid #8c1515;
}
.donorbtn {
  padding: 15px;
  font-size: 1.5em;
  margin: 10px 0;
  border: none;
  background-color: #8c1515;
  color: white;
}
.donorbtn:focus {
  outline: none;
}
.bloodServiceCard {
  /* color: #8c1515; */
  font-size: 1.3em;
  height: 100%;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}
